html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button:hover {
  opacity: 0.9;
}

button:active {
  opacity: 0.8;
}

/* Root container styles */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Privy specific overrides */
.privy-login-button {
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #676FFF;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 500;
} 